template(name="invitationemail")
    div(style="width:30%;float:left")
        img(style="width:100%" src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11822380_10153240631101492_3779265175724659547_n.jpg?oh=28418ce177c717b788ee1f5d627eb030&oe=56430F3A")
    div(style="width:60%;float:right")
        div(style="width:100%")
            h1 TalkieTalk invitation
            div
                p You have been invitated to joind a chatroom on TalkieTalk, but it appears that you don't have an account :-(...
                p Don't worry we have created one just for you !! Now you just have to click on the link below to complete your inscription (choose a password)
                p After that you will be automatically directed through your TalkieRoom.
                ul
                    li login : #{useremail}
                p Click the link below to start your TalkieTalk !
                a(href="http://talkietalk.meteor.com/CreateAccount/#{userId}/#{chatRoomId}") Choose my TalkiePass and start my TalkieTalk !!
                p Information about your TalkieRoom :
                ul
                    li chatroom : #{name}
                    li password : #{pass}
                    if description
                        li description : #{description}